In [1]:
params = {}

In [2]:
import time
import json
import sys

from data_task_helpers import something

something()

from api_data_task_executioner.data_task_tools import \
    assert_dte_tools_available, get_resolved_parameters_for_connection, initialise_data_task, \
    find_json_arg, get_temp_dir, purge_temp_dir, get_data_dir, post_file_to_duft_server  # noqa: E402

something
['/Users/fitti/Development/duft-workspace-django/duft-server', '/Users/fitti/.pyenv/versions/3.12.3/lib/python312.zip', '/Users/fitti/.pyenv/versions/3.12.3/lib/python3.12', '/Users/fitti/.pyenv/versions/3.12.3/lib/python3.12/lib-dynload', '', '/Users/fitti/Development/duft-workspace-django/.venv/lib/python3.12/site-packages', '/Users/fitti/Development/duft-workspace-django/duft', '/Users/fitti/Development/duft-workspace-django/duft-server']
DUFT Config: duft-config
Init environment

In [3]:
   
environment = initialise_data_task("Jupyter Sample Data Upload Task", params=params)
params["name"] = params.get("customname", params.get("name", "No parameters given!"))

if not params:
    environment.log_error("No parameters given!")

[2024-11-09T20:12:29.295359] Jupyter Sample Data Upload Task - INFO: Jupyter Sample Data Upload Task initialised running in active mode
Jupyter Sample Data Upload Task >>>: Jupyter Sample Data Upload Task initialised running in active mode

In [4]:
assert_dte_tools_available()

resolved_parameters = get_resolved_parameters_for_connection("ANA")
resolved_server_api_parameters = get_resolved_parameters_for_connection("DUFT-SERVER-API")
tmp_dir = get_temp_dir()
environment.log_message('Data Upload Starting!')
environment.log_message("Using parameters: %s" % resolved_parameters)
environment.log_message("Using temp directory: %s" % tmp_dir)
    
print(resolved_server_api_parameters)

DTE Tools available
[2024-11-09T20:12:29.322192] Jupyter Sample Data Upload Task - INFO: Data Upload Starting!
Jupyter Sample Data Upload Task >>>: Data Upload Starting!
[2024-11-09T20:12:29.337939] Jupyter Sample Data Upload Task - INFO: Using parameters: {'server': '127.0.0.1', 'username': 'user', 'password': 'mysecretword', 'port': '5432', 'database': 'analysis', 'sqlite3file': 'wakanda.sqlite', 'type': 'sqlite3'}
Jupyter Sample Data Upload Task >>>: Using parameters: {'server': '127.0.0.1', 'username': 'user', 'password': 'mysecretword', 'port': '5432', 'database': 'analysis', 'sqlite3file': 'wakanda.sqlite', 'type': 'sqlite3'}
[2024-11-09T20:12:29.346239] Jupyter Sample Data Upload Task - INFO: Using temp directory: /Users/fitti/Development/duft-workspace-django/tmp-data-tasks
Jupyter Sample Data Upload Task >>>: Using temp directory: /Users/fitti/Development/duft-workspace-django/tmp-data-tasks
{'server': 'http://127.0.0.1:8000', 'username': 'advanced_dashboard_user', 'password': '--------'}

In [5]:
# Load sample dataset from SQL File

import pandas as pd
import sqlite3
import os

# Load the data
conn = sqlite3.connect(os.path.join(get_data_dir(), resolved_parameters['sqlite3file']))
data = pd.read_sql_query("SELECT * FROM dim_client LIMIT 20", conn)
conn.close()

file_to_save = os.path.join(tmp_dir, 'dim_client_sample.csv')
data.to_csv(file_to_save, index=False)

data.head()

,client_id,emr_identifier,patient_pkv,facility_number,pbs_scenario,his_entry_type,number_h,birth_date,gender,death_date,...,is_disabled,disability,residence_ward,residence_village,residence_sub_county,residence_district,residence_county,residence_region,residence_country,date_imported_emr
0,1025682,1111130,,1025698,,EMR,,24/12/1960,Female,,...,,,,,,,,,Wakanda,
1,1129715,1215163,,1129731,,EMR,,9/4/1982,Female,,...,,,,,,,,,Wakanda,
2,1132571,1218019,,1132587,,EMR,,15/6/1983,Female,,...,,,,,,,,,Wakanda,
3,1132573,1218021,,1132589,,EMR,,14/10/1979,Male,,...,,,,,,,,,Wakanda,
4,1132575,1218023,,1132591,,EMR,,8/10/2008,Male,,...,,,,,,,,,Wakanda,

In [6]:
try:
    post_file_to_duft_server(
        resolved_server_api_parameters["server"], 
        resolved_server_api_parameters["username"], 
        resolved_server_api_parameters["password"], 
        file_to_save, 
        "client-list")
    
    environment.log_message('Data Upload Complete!')

except Exception as e:
    environment.log_error(f"Failed to upload file: {e}")

[2024-11-09T20:12:29.796174] Jupyter Sample Data Upload Task - INFO: Data Upload Complete!
Jupyter Sample Data Upload Task >>>: Data Upload Complete!

In [7]:
if os.path.exists(file_to_save):
    os.remove(file_to_save)
    environment.log_message(f"Removing data file: {file_to_save}")
else:
    environment.log_message(f"File does not exist: {file_to_save}")

[2024-11-09T20:12:29.801675] Jupyter Sample Data Upload Task - INFO: Removing data file: /Users/fitti/Development/duft-workspace-django/tmp-data-tasks/dim_client_sample.csv
Jupyter Sample Data Upload Task >>>: Removing data file: /Users/fitti/Development/duft-workspace-django/tmp-data-tasks/dim_client_sample.csv

In [8]:

environment.log_message('Data Upload Completed!')

[2024-11-09T20:12:29.806455] Jupyter Sample Data Upload Task - INFO: Data Upload Completed!
Jupyter Sample Data Upload Task >>>: Data Upload Completed!